/*CSS source code*/

/** 代码制作人: xiex
 ** 制作时间：2016-05-12
 ** 文件内容描述：数据平台相关css
 ** 修改日期：
 ** 修改内容：
 **********************************************/
.lucd-data-content{
  margin-top: 15px;
}
.lucd-grid-solidR-col-2{width: 800px;min-height: 1px;float: right;position: relative;z-index: 1;}
.lucd-grid-solidL-col-2{ width:180px; min-height: 1px; margin-right:20px; float: left;position: relative;z-index: 1;}

.lucd-sidebar{ background:#fff; border:1px solid #fff;}
.lucd-sidebar>dl a{ padding-left:20px; font-size:14px;}
.lucd-sidebar dt{ height:46px; line-height:46px; background:#f0f0f0; border-bottom:1px solid #fff;}
.lucd-sidebar dt a{display:block;  font-size:16px; position:relative }
.lucd-sidebar dd{ height:50px; line-height:50px;}
.lucd-sidebar dt a .trig{
	position:absolute; right:12px; top:0px;
	display:inline-block;
	width:12px;
	height:46px;
	background:url(../images/icon_arrow_down.png) no-repeat left center;
	transform:rotate(180deg);
-ms-transform:rotate(180deg); 	/* IE 9 */
-moz-transform:rotate(180deg); 	/* Firefox */
-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
-o-transform:rotate(180deg); 	/* Opera */
}
.lucd-sidebar dt.open a .trig{
		transform:rotate(0deg);
-ms-transform:rotate(0deg); 	/* IE 9 */
-moz-transform:rotate(0deg); 	/* Firefox */
-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
-o-transform:rotate(0deg); 	/* Opera */
}


.lucd-viewdata-heading{}
.lucd-viewdata-heading:after{ display: table; clear: both; content:"";}
.lucd-viewdata-heading .lucd-title{ color:#666; font-size:16px;}
.lucd-viewdata-heading .right{ float: right;}
.lucd-viewdata-heading .left{ float: left;}
.lucd-viewdata-heading > .lucd-row{ padding:0; background-color:transparent; border-bottom:none;}
.lucd-viewdata-btnGroup-sort{ height:38px; background:#fff; border:1px solid #e2e2e2;}
.lucd-viewdata-btnGroup-sort .lucd-btn-group > .lucd-btn{ line-height:34px;}

.lucd-viewdata-btnGroup-sort .lucd-dropdown-icon{ height:36px; line-height:36px; padding-left:12px; margin-left:10px; border-left:1px solid #e2e2e2; display: inline-block;}
.lucd-viewdata-btnGroup-sort .lucd-icon-arrLineDn{ display: inline-block; position:relative; top:-5px; width:0px; height:0px; border:7px solid transparent; border-top-color:#cbcbcb;}
.lucd-viewdata-heading .lucd-title{ }
.lucd-viewdata-btnGroup-sort .lucd-open .lucd-icon-arrLineDn{ top:-15px;}
.lucd-viewdata-btnGroup-sort .lucd-dropdown-menu{ top:38px;}
.lucd-viewdata-heading .lucd-dropdown-menu{min-width:134px;}

.lucd-viewdata-content{}
.lucd-viewdata-content .lucd-viewdata-item {
  display: inline-block;
  width: 384px;
  height: auto;
  min-height: 240px;
  vertical-align: top;
  margin-bottom: 20px;
  padding-top: 15px;
  background: #fff;
  border: 1px solid #e2e2e2;
}
.lucd-viewdata-content .lucd-viewdata-item .header {
  font-size: 14px;
  border-left: 4px solid #33b5a0;
  padding-left: 15px;
  color: #444;
}
.lucd-viewdata-content .lucd-viewdata-item .content{/* padding:20px 0;*/}
.lucd-viewdata-content .lucd-viewdata-item img{ max-width: 100%; vertical-align: middle;}
.lucd-viewdata-content .lucd-row .lucd-viewdata-item:first-child{ margin-right:20px;}

.viewdata-item01 .content{ padding-top:20px;}
.viewdata-item02 .content{ padding-top:15px;}
.viewdata-item03 .content{ padding-top:38px;}
.viewdata-item04 .content{ padding-top:16px;}
.viewdata-item06 .content{ padding-top:20px;}

.lucd-col-one .lucd-viewdata-item{ width:100%; height:auto;}

