/**页面背景**/
.lui_form_body {background-color: #f7f6f6;}

/**三级页面主体内容**/
.lui_form_content{ background-color:#fff; }

/** 标题**/
.lui_form_title_frame {	}
.lui_form_subject {text-align: center; font-size: 18px;line-height: 30px; padding: 12px 5px 5px; }
.lui_form_title_frame .lui_form_baseinfo {font-size: 12px;text-align: center;line-height: 20px;margin:0px 0px 5px;}
.lui_form_title_frame .lui_form_baseinfo span{margin-right: 8px;}

/** 摘要**/
.lui_form_summary_frame {border: #ebebeb 1px solid;background: #f8f8f8;font-size:12px; margin:0px 14px 10px;padding:10px 10px 6px 10px;line-height:20px;text-indent:2em;word-break:break-word;}  

/** 正文和附件**/
.lui_form_content_frame { padding:0px 14px 10px;}
/*.lui_form_content_frame div p{ line-height:22px;}*/
.lui_form_spacing{ border-top:1px dashed #bbb; margin-top:30px; margin-bottom:5px;}
.lui_form_subhead{padding: 0px 5px;line-height: 30px;font-size: 14px;font-weight: bold;}

/*文档信息内容*/
.lui_form_info {line-height: 25px;list-style: none;}
.lui_form_info li{ }

/******表单控件******/
/*按钮*/
.lui_form_button { border:none;color: #fff;padding: 5px 10px;cursor:pointer;text-decoration: none;background-color: #51B5EB;}   
/*输入控件颜色、大小、边距*/
textarea,.input input,.inputsgl, select{color: #1b83d8;  padding-left:4px; font-size:12px;  font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;}
/*下拉框*/
select{border: 1px #b4b4b4 solid;}
/*单选，多选*/
input[type=checkbox],input[type=radio]{ margin-right:2px;}
input[name=DocList_Selected]:HOVER{cursor:auto;}
/*单行文本*/
.inputsgl,.tb_normal .inputsgl {height: 20px;border: 0px;border-bottom: 1px solid #b4b4b4;}     /*默认、有边框*/
.tb_simple .inputsgl {height: 25px;border: 0px;border: 1px solid #b4b4b4;}                      /*无边框*/
/*多行文本*/
.inputmul,textarea {height: 80px;border: 1px solid #b4b4b4;overflow-y:auto; vertical-align:top;}

/*单行带选择的输入框，结构：.inputselectsgl>.input>input*/
/*外层*/
.inputselectsgl, .tb_normal .inputselectsgl{height: 20px;border-bottom: 1px solid #b4b4b4;position: relative;cursor: pointer;display: inline-block;*display: inline;line-height:20px;}   /*默认、有边框*/
.tb_simple .inputselectsgl {height:25px; border: 1px solid #b4b4b4;position: relative;cursor: pointer;display: inline-block;*display: inline;line-height:25px; }
.inputselectsglreadonly {border:none;}
.inputselectsglreadonly input {border:none;color:#868686;width:100%;}
/*中间层*/
.inputselectsgl .input{display:block;border: 0px;position: absolute;top:0px;bottom:0px;left: 0px;right: 23px;cursor: pointer;line-height: 20px; overflow: hidden;}
/*里层*/
.inputselectsgl input {width: 100%;height: 100%;border: 0px; resize: none;  overflow:hidden;}

/*多行带选择的输入框，结构：.inputselectmul>.textarea>textarea*/
/*外层*/
.inputselectmul{height: 80px;border: 1px solid #b4b4b4;position: relative;cursor: pointer;display: inline-block;}
/*中间层*/
.inputselectmul .textarea {padding-left:4px;display:block;border: 0px;position: absolute;top:0px;bottom:0px;left: 0px;right: 23px;cursor: pointer;line-height: 20px;}
/*里层*/
.inputselectmul textarea {padding-left:0px;width: 100%;height: 100%;border: 0px; resize: none;overflow: auto;}

/*选择框右边小图标*/
.inputselectsgl .orgelement,.inputselectmul .orgelement {background: url(/sys/ui/extend/theme/default/images/form/orgelement.png);background-repeat: no-repeat;background-position: center center;position: absolute;width: 23px;height: 100%;right: 0px;}    /*组织*/
.inputselectsgl .selectitem,.inputselectmul .selectitem {background: url(/sys/ui/extend/theme/default/images/form/selectitem.png);background-repeat: no-repeat;background-position: center center;position: absolute;width: 23px;height: 100%;right: 0px;}    /*其它*/
.inputselectsgl .inputdatetime {background: url(/sys/ui/extend/theme/default/images/form/datetime.png);background-repeat: no-repeat;background-position: center center;position: absolute;width: 23px;height: 100%;right: 0px;}   /*时间*/
.inputselectsgl .inputtime {background: url(/sys/ui/extend/theme/default/images/form/time.png);background-repeat: no-repeat;background-position: center center;position: absolute;width: 23px;height: 100%;right: 0px;}   /*时间*/
.inputselectsgl .search {background: url(/sys/ui/extend/theme/default/images/form/search.png);background-repeat: no-repeat;background-position: center center;position: absolute;width: 23px;height: 100%;right: 0px;}    /*搜索*/
/*多行选择框图标左边加上边线*/
.inputselectmul .orgelement,.inputselectmul .selectitem {border-left: 1px #b4b4b4 solid;}

/** 简单的通用样式，兼容旧系统 **/
.txttitle {text-align: center;font-size: 20px;line-height: 30px;}
.txtstrong {font-weight: normal;display: inline-block;}
.inputread {border:0px; color:#868686}
.inputread_normal {border:0px;}
.td_label0 {vertical-align: baseline!important;font-size:2px!important;padding:0px!important;border:0px!important;height:29px; border-bottom:1px solid #70c8e8!important;}
.td_label0 nobr{margin-right: 2px;}
.td_label0 nobr input{overflow:visible;width:auto;_width:0;}
.btnlabel1 {height: 30px;font-size:13px;border: 0px;padding:2px 3px 0px 3px;margin:0px; color:#fff; cursor:pointer;}
.btnlabel2 {height: 30px;font-size:13px;border: 0px;padding:2px 3px 0px 3px;margin:0px;color:#47b5e6;cursor:pointer;}

/* 图片 */
.lui_multidoc_showPic tr:last-child td{ position:relative; top:10px;}
.lui_multidoc_showPic .img_small_btnl{ background:#fff; }
.lui_multidoc_showPic .img_small_btnr{ background:#fff;}
.lui_multidoc_showPic  .img_small_btnbar .d_i_trig_coverL{ border-right-color:#fff;}
.lui_multidoc_showPic .img_small_btnbar .d_i_trig_coverR{ border-left-color:#fff;}
.lui_multidoc_showPic .img_small_btnl:hover .img_small_btnbar .d_i_trigL{ border-right-color:#aedffa;}
.lui_multidoc_showPic .img_small_btnr:hover .img_small_btnbar .d_i_trigR{ border-left-color:#aedffa;}


nobr {
	display:inline-block;
}

/*************当前主题***************/
.lui_form_body {
	background: url(../images/blur-bg.png) no-repeat 50% 0;
	background-size: cover;
}
.lui_form_spacing {
    border-top: 1px dashed #bbb;
    margin-top: 30px;
    margin-bottom: 15px;
}
.lui_form_subhead {
    padding: 0px 5px;
    line-height: 30px;
    font-size: 16px;
    font-weight: normal;
}

.tempTB{
	background-color: #fff;
}
.tempTB > tbody > tr > td:nth-child(2){
	border-left: 1px solid #d7d7d7;
}

.lui_form_content{
	padding: 20px;
}
.lui_form_sidebar{
	padding: 0 20px!important;
}

.lui_form_sidebar .lui_accordionpanel_header_l:hover,
.lui_form_sidebar .lui_accordionpanel_header_c:hover{
	background-color: transparent;
}
.lui_form_sidebar .lui_accordionpanel_nav_c .lui_accordionpanel_toggle_down,
.lui_form_sidebar .lui_accordionpanel_nav_c .lui_accordionpanel_toggle_up{
	right: 0;
}
.lui_form_sidebar .lui_accordionpanel_nav_c .lui_accordionpanel_nav_text{
	padding-left: 0;
	color: #333;
}
.lui_form_sidebar .lui_accordionpanel_header_l{
	border-bottom: 0;
}
.lui_form_sidebar .lui_accordionpanel_content_l{
	background-color: transparent;
}
.lui_form_sidebar .lui_accordionpanel_nav_c
.lui_form_sidebar .lui_accordionpanel_nav_c .lui_accordionpanel_nav_text{
	padding-left: 0;
	color: #333;
}
.lui_form_sidebar .eval_doc_score{
	padding: 20px 0 30px;
	text-align: center;
}
.lui_form_sidebar .eval_doc_score span.eval_score_mark{
	color: #ffb644;
	display: block;
}
.lui_form_sidebar .eval_score,
.lui_form_sidebar .eval_score_val{
	position: absolute;
	left: 102px;
	top: 52px;
}

.lui_form_sidebar .lui_accordionpanel_frame .lui_accordionpanel_content_frame{
	border-bottom: 0;
	background-color: transparent;
}
.lui_form_content_frame{
	padding: 0;
}

.lui_form_subject {
	text-align: center;
	color: #333;
	font-size: 24px;
	line-height: 30px;
	padding: 12px 5px 5px;
}

.lui_form_path_frame{
	width: 100%!important;
	min-width: 980px;
	max-width: 100%!important;
	margin: 0px auto;
    height: 42px;
    background: transparent;
    border-bottom: 0;
}
.lui_form_path_frame .lui_menu_frame_nav{
	background-color: #fff;
	width: 90%;
	min-width: 980px;
	max-width: 1200px;
	margin: 0px auto;
	overflow: visible;
    height: 42px;
    line-height: 42px;
	z-index: 6;
}
.lui_form_path_frame .lui_menu_left{}
.lui_form_path_frame .lui_menu_frame_nav .lui_menu_content{
	position: relative;
    z-index: 10;
}
.lui_form_body > div[style='height:20px;']{
	display: none;
}



/*论坛相关*/
.lui_portal_header ~ .lui_form_path_frame  .lui_menu_frame_nav{
	width:980px;
}
.lui_portal_header ~ .lui_form_path_frame .lui_menu_frame_nav .lui_menu_content{
	top: 0;
}
.criterions .lui_menu_frame_nav{ position:static; margin-left: 0; background:#fff; width:80px;}
#kmForumPost input[name="docSubject"]{ width:684px!important;}
#forumPost .lui_form_body{ background:#fff;}
#forum_quickPost iframe{ height: 496px!important;}
/*#lui_validate_message~.tempTB{ background:transparent;}*/
.muilti_eng .lui_forum_userinfo .qucik_alink{ padding-bottom:28px;}
iframe#quickReplyContent{ min-height: 480px!important; height: 480px!important;}
.forum_list_w{ min-height: 100px;}

.lui_form_body .lui_menu_frame_nav .lui_menu_item_split:after{
	left: 0;
	top: -4px;
}
.lui_form_body .lui_tabpage_float_content_c{
	padding: 0;
}
.lui_form_body [data-lui-type='lui/panel!Content'] {
	padding: 8px 0; 
}
.lui_form_body .lui_tabpage_float_content_c .eval_button {
	width: 80px;
	height: 80px;
	border: 1px solid #15a4fa;
	background: #15a4fa;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
.lui_form_body .lui_tabpage_float_content_c .eval_button:hover{
	border-color: #008de2;
	background-color: #008de2;
}
.lui_forum_userinfo .qucik_alink .p2{ text-align: center;}

.lui_form_title_frame .lui_form_baseinfo{
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	margin: 0px 0px 5px;
}

/*知识专辑不在主题包，form中特殊处理*/
.kms_subject_navToolbar{ background:#fff!important; margin-bottom: 0px!important;}
// .kmtopic_catelog_tip{ white-space: nowrap;}
