.lui_portlet_operations {
	text-align: right;
    padding: 0px 10px;
	font-size:14px;
}
.lui_portlet_operation {
	display: inline-block;
	margin-top:5px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-decoration:underline;
	cursor:pointer;
}
.lui_portlet_operation span {
	vertical-align: middle;
	padding-left: 3px;
} 
[data-lui-type='lui/panel!Content'] {
	padding: 8px;
}
.lui_panel_nonecontent {
	padding: 0px;
}
/*/////////////////////accordionpanel//////////////////////////*/
.lui_accordionpanel_content_inside { 
}

/** 可折叠面板  **/
.lui_accordionpanel_frame 
{
    background-color:#fff; height:100%;
}
.lui_accordionpanel_header_l{
	background-color: #4eb7ee;
    cursor:pointer;
}
.lui_accordionpanel_header_c {
	line-height: 35px;	
	height: 35px;
    overflow:hidden;
}
.lui_accordionpanel_header_l:hover{ background:#30a4dc;}
.lui_accordionpanel_nav_c{
	position:relative;
}
.lui_accordionpanel_nav_text {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	width: 80%;
	overflow: hidden;
	display: block;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
}
.lui_accordionpanel_toggle_up {
	position:absolute;
	top:0px;
	right:0px;
	float: right;
	cursor: pointer;
	background: url(/sys/ui/extend/theme/default/images/panel/toggle1.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 30px;
	height: 30px;
} 
.lui_accordionpanel_toggle_down {
	float: right;
	cursor: pointer;
	background: url(/sys/ui/extend/theme/default/images/panel/toggle2.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}
.lui_accordionpanel_content_frame{  border-bottom:1px solid #fff}
.lui_accordionpanel_content_c {
	background-color: #FFFFFF;
}
/** float **/

.lui_accordionpanel_float_content {
	margin-top:20px;
	background-color: white;
	border: #5d9ad0 1px solid
}
.lui_accordionpanel_float_header_title 
{
    padding:10px 10px 0px 10px;
	position: relative;
}
.lui_accordionpanel_float_header_text  
{
    height:20px;
    line-height:20px;
    color:#54a3cc; 
    font-size:14px;
}
.lui_accordionpanel_float_header_close {
	position:absolute;
	right:10px;
	top:10px;
	background: '../images/panel/accordionpanel_close.png' no-repeat right center;
	width: 20px;
	height: 20px;
	cursor:pointer;
}

.lui_accordionpanel_float_navs {
	position: fixed;
	bottom: 0px;
	left:0px;
	right:0px;
	height:40px;
	background-color: #47b5e6;
}
.lui_accordionpanel_float_navs_l {
	margin: 0px auto;
	width: 980px;
}
.lui_accordionpanel_float_nav_item_before {
	display: inline-block;
	height: 40px;
}
.lui_accordionpanel_float_nav_item:first-child {	
	border-left:#f3f1f2 1px solid;
}
.lui_accordionpanel_float_navs_c {
	height: 39px;
	line-height: 39px;
}
.lui_accordionpanel_float_nav_item {
	border-right:#f3f1f2 1px solid;
	display: inline-block;
	vertical-align: top;
	color:#fff;
	height: 100%;
}
.lui_accordionpanel_float_nav_item_l {
	vertical-align: top;
	cursor: pointer;
	padding-left: 12px;
	padding-right: 12px;
	height: 100%;
}
.selected .lui_accordionpanel_float_nav_item_l{
	vertical-align: top;
	cursor: pointer;
	background-color: white;
	padding-left: 12px;
	padding-right: 12px;
	color:#46b6e6; 
	font-weight:bold; 
	border-bottom: #45b3e4 1px solid;
	height: 100%;
}
.lui_accordionpanel_float_nav_item_after {
	display: inline-block;
	height: 40px;
	border-left: #f3f1f2 1px solid;
}
.lui_accordionpanel_float_content_c .lui_panel_content_inside { 
}

/* person */
.lui_person_usertitle{
	text-align: center; 
	background-color: #fff;
}
.lui_person_usertitle > * {
	padding-top: 15px;
}
.lui_person_userpic{
	margin: 0px auto;
	width: 120px;
	height: 120px;
	position: relative;
}
.lui_person_usermask{
	position: absolute;
	width:120px;
	height:25px;
	top:95px;
	background: rgba(0,0,0,.6);
	color: white;
	line-height: 25px;
	display: none;
}
.lui_person_userpic > img{
	width: 120px;
	height: 120px;
}
.lui_person_usertitle .lui_person_dept{
	text-align: center;
	padding: 0 10px 5px 10px;
}
.lui_person_usertitle > .clr{
	padding-top: 0;
}

.lui_accordionpanel_person_frame {
    background-color:#fff; 
    height:100%;
}
.lui_accordionpanel_person_frame .lui_accordionpanel_content_frame{
	border: 0;
}
.lui_accordionpanel_person_header_l,
.lui_accordionpanel_person_content_c{
	background-color: #354052;
    cursor:pointer;
}
.lui_accordionpanel_person_header_c {
	line-height: 37px;
    height: 37px;
    overflow:hidden;
    border: 0;
}
.lui_accordionpanel_person_nav_c{
	border-top: 1px solid #293343;
	border-bottom: 1px solid #293343;
	position:relative;
}
.lui_accordionpanel_person_nav_c .lui_accordionpanel_nav_text{
	padding-left: 16px;
	font-size: 12px;
	color: #8994a6;
    width: 80%;
    height:35px;
    line-height:35px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    background: inherit;
}
.lui_accordionpanel_person_nav_c .lui_accordionpanel_toggle_down,
.lui_accordionpanel_person_nav_c .lui_accordionpanel_toggle_up{
	position: absolute;
    top: 3px;
    right: 0px;
    float: right;
    cursor: pointer;
	background-position: 50% 50%;
	background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}
.lui_accordionpanel_person_nav_c .lui_accordionpanel_toggle_up{
   	background-image: url(/sys/ui/extend/theme/default/images/panel/toggle4.png);
}
.lui_accordionpanel_person_nav_c .lui_accordionpanel_toggle_down{
    background-image: url(/sys/ui/extend/theme/default/images/panel/toggle3.png);
}
.lui_accordionpanel_person_content_c .lui_list_nav_list li a {
	color: #8994a6;
}
.lui_accordionpanel_person_content_c .lui_panel_content_inside > div{
	padding: 0;
}
.lui_accordionpanel_person_content_c .lui_list_nav_list li{
	padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.lui_accordionpanel_person_content_c .lui_list_nav_list li.lui_list_nav_selected{
	background-color:#252f40;
	background-image: url(/sys/ui/extend/theme/default/images/panel/accordionpanel_selected.png);
	background-repeat: no-repeat;
}

/*/////////////////////tabpage//////////////////////////*/
.lui_tabpage_content_inside { 
}

.lui_tabpage_frame {
}
.lui_tabpage_header_c {
	background-color: #35a9dc;
	line-height: 35px;	
	height: 35px;
}
.lui_tabpage_nav_text {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
.lui_tabpage_toggle_up {
	float: right;
	cursor: pointer;
	background: url(/sys/ui/extend/theme/default/images/panel/toggle1.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 30px;
	height: 30px;
} 
.lui_tabpage_toggle_down {
	float: right;
	cursor: pointer;
	background: url(/sys/ui/extend/theme/default/images/panel/toggle2.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}
.lui_tabpage_content_c {
	background-color: #FFFFFF;
}
.lui_tabpage_float_content {
	margin-top:20px;
	background-color: white;
	
}
.lui_tabpage_float_header_l
{
    border-bottom: #c2e2ef 1px solid
    }
.lui_tabpage_float_content:FIRST-CHILD {
	margin-top: 0px !important;
}
.lui_tabpage_float_header_title 
{
    padding:6px 10px 6px 16px;
	position: relative;
}
.lui_tabpage_float_header_text  
{
    height:20px;
    line-height:20px;
    color:#52a4c9; 
    font-size:15px;
    font-weight:bold;
}
.lui_tabpage_float_header_text>div{ font-size:15px;}
.lui_tabpage_float_header_close {
	position:absolute;
	right:10px;
	top:10px;
	background: url(/sys/ui/extend/theme/default/images/panel/accordionpanel_close.png) no-repeat right center;
	width: 20px;
	height: 20px;
	cursor:pointer;
}

.lui_tabpage_float_navs {
	position: fixed;
	bottom: 0px;
	left:0px;
	right:0px;
	height:41px;
	padding-top:4px;
	z-index:5;
	background: '../images/panel/tabpage_float_navs_bg.png' repeat-x;
}
.lui_tabpage_float_navs_mark {	
	position: fixed;
	bottom: 0px;
	left:0px;
	right:0px;
	height:41px;
	z-index:4;
	width: 100%;
	border: 0px;
}
.lui_tabpage_float_navs_c {
	margin: 0px auto;
	width:90%;
}
.lui_tabpage_float_nav_item_before {
	display: inline-block;
	height: 40px;
}
.lui_tabpage_float_navs_c {
	height: 36px;
	line-height:36px;
	 margin-top:5px;
}
.lui_tabpage_float_nav_item {
	display: inline-block;
	vertical-align: top;
	height: 36px;
	background-color:#f2f2f2;
	margin-right:5px;
	min-width:88px;
	font-size:14px;
	font-weight:bold;
	border:1px solid #d3d3d3;
	 color:#57c0ef;
}
.lui_tabpage_float_navs_c .selected{  border:none; color:#fff; }
.lui_tabpage_float_nav_item_l {
	vertical-align: top;
	cursor: pointer;
	padding-left: 12px;
	padding-right: 12px;
	height: 100%;
	min-width:48px;
}
.lui_tabpage_float_nav_item:hover{ color:#1b84d5;}
.lui_tabpage_float_nav_item_c{ text-align:center; font-size:14px;}
.lui_tabpage_float_nav_item_c>div{ font-size:14px;}
.selected .lui_tabpage_float_nav_item_l{
	vertical-align: top;
	cursor: pointer;
	padding-left: 12px;
	padding-right: 12px;
	background-color:#57c0ef;
}
.lui_tabpage_float_nav_item_after {
	display: inline-block;
	height: 40px;
	border-left: #f3f1f2 1px solid;
}
.lui_tabpage_float_content_c{ padding:0px 6px;}
.lui_tabpage_float_content_c .lui_panel_content_inside { 
}
/*/////////////////////singnpanel//////////////////////////*/
/**====== 公共 ======**/
.lui_panel_content_inside { 
	text-overflow: ellipsis;
}

/**====== 默认单标签 ======**/
.lui_panel_frame {
}
.lui_panel_navs_c {
	font-size: 14px;
	background-color: #51b6ec;
	color: #FFFFFF;
	line-height: 35px;
	padding-left:10px;
	vertical-align: middle;
}
.lui_panel_navs_item_l {
	float: left;
}
.lui_panel_navs_item_c
{
	padding-left: 5px;
	font-weight: bold;
    font-size:14px;
}
.lui_panel_toggle {	
	float: right;
	cursor: pointer;
	width: 30px;
	height: 30px;
	padding: 2px;
}
.lui_panel_toggle_up {
	background: url(/sys/ui/extend/theme/default/images/panel/toggle1.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 30px;
	height: 30px;
} 
.lui_panel_toggle_down {
	background: url(/sys/ui/extend/theme/default/images/panel/toggle2.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.lui_panel_content_c {
	background-color: #FFFFFF;
}

/**====== 浅色单标签 ======**/
.lui_panel_light_frame {
}
.lui_panel_light_navs_c {
	font-size: 12px;
	background:url(/sys/ui/extend/theme/default/images/panel/siglepanel_light_titlebg.png) repeat-x;
	height: 33px;
	color: #666664;
	line-height: 33px;
	vertical-align: middle;
	font-weight:bold; 
	padding-left:5px; 
	border-bottom:1px solid #c3e3f2
}
.lui_panel_light_navs_item_l {
	float: left;
}
.lui_panel_light_navs_item_c {
	padding-left: 5px;
	font-weight: bold;
	font-size:14px;
}
.lui_panel_light_toggle {	
	float: right;
	cursor: pointer;
	width: 30px;
	height: 30px;
	padding: 2px;
}
.lui_panel_light_toggle_up {
	background: url(/sys/ui/extend/theme/default/images/panel/toggle_light_1.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 30px;
	height: 30px;
} 
.lui_panel_light_toggle_down {
	background: url(/sys/ui/extend/theme/default/images/panel/toggle_light_2.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}
.lui_panel_light_content_c {
	background-color: #FFFFFF;
}
.lui_panel_light_content_inside { 
}
/**====== 简约单标签 ======**/
.lui_panel_simple_frame {
}
.lui_panel_simple_navs_c {
	font-size: 12px;
	background-color:white;
	height: 33px;
	color: #666664;
	line-height: 33px;
	vertical-align: middle;
	font-weight:bold; 
	padding-left:5px; 
	border-bottom:1px solid #EBEBEB;
}
.lui_panel_simple_navs_item_l {
	float: left;
}
.lui_panel_simple_navs_item_c {
	padding-left: 5px;
	font-weight: normal;
	font-size:14px;
}
.lui_panel_simple_toggle {	
	float: right;
	cursor: pointer;
	width: 30px;
	height: 30px;
	padding: 2px;
}
.lui_panel_simple_toggle_up {
	background: url(/sys/ui/extend/theme/default/images/panel/toggle_light_1.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 30px;
	height: 30px;
} 
.lui_panel_simple_toggle_down {
	background: url(/sys/ui/extend/theme/default/images/panel/toggle_light_2.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}
.lui_panel_simple_content_c {
	background-color: #FFFFFF;
}
.lui_panel_simple_content_inside { 
}

/*/////////////////////默认多标签//////////////////////////*/
.lui_tabpanel_frame {
}
.lui_tabpanel_navs_c {
	font-size: 14px;
	background-color: #51b6ec;
	height: 35px;
	color: #FFFFFF;
	line-height: 35px;
	/*padding-left:10px;*/
	vertical-align: middle;
}
.lui_tabpanel_navs_item_l {
	float: left;
	overflow: hidden;
	height: 35px;
}
.lui_tabpanel_navs_item_c
{
	word-break: break-all;
	padding-left: 5px;
    font-size:14px;
}
.lui_tabpanel_navs_item_c:hover{ color:#bcdcf5;}
.lui_tabpanel_navs_item_selected .lui_tabpanel_navs_item_c {
	background-color:#fff;
	color:#636363;
    font-weight:bold;
}
.lui_tabpanel_navs_item_c {
	padding: 0px 10px;
	cursor:pointer;
}
.lui_tabpanel_content_l {
	background-color: #FFFFFF;
}

/**====== 浅色多标签 ======**/
.lui_tabpanel_light_frame {
}
.lui_tabpanel_light_navs_c {
	font-size: 12px;
	background-color:#e7f4fc;
	height: 33px;
	color: #FFFFFF;
	line-height: 35px;
	padding-left:10px;
	border-bottom:1px solid #c3e3f2;
	vertical-align: middle;
}
.lui_tabpanel_light_navs_item_l {
	float: left;
	overflow: hidden;
}
.lui_tabpanel_light_navs_item_c{
	padding-left: 5px;
	margin-top:1px;
	height:31px;
	line-height:30px;
    font-size:14px;
	color:#333;
}
.lui_tabpanel_light_navs_item_c:hover{ color:#000;}
.lui_tabpanel_light_navs_item_selected .lui_tabpanel_light_navs_item_c {
	background-color:#fff;
	color:#000;
	border:1px solid #c3e3f2;
	border-top-width:2px;
	border-bottom:none;
	font-weight:bold;
}
.lui_tabpanel_light_navs_item_c {
	padding: 0px 10px;
	cursor:pointer;
}
.lui_tabpanel_light_content_l {
	background-color: #FFFFFF;
	
}

/**====== 简约多标签 ======**/
/** portal panel样式 **/
.lui_tabpanel_simple_frame{}
.lui_tabpanel_simple_navs_c{
	font-size: 12px;
	background-color:white;
	height: 33px;
	color: #636363;
	line-height: 35px;
	padding-left:10px;
	border-bottom: 1px solid #EBEBEB;
	vertical-align: middle;
}
.lui_tabpanel_simple_navs_item_l {
	float: left;
	overflow: hidden;
}
.lui_tabpanel_simple_navs_item_c{
	padding-left: 5px;
	margin-top:1px;
	height:31px;
	line-height:30px;
    font-size:14px;
	color:#333;
}
.lui_tabpanel_simple_navs_item_c:hover{ 
	color:#000;
}
.lui_tabpanel_simple_navs_item_selected .lui_tabpanel_simple_navs_item_c {
	background-color:#fff;
	color: #56a8da;
	border-bottom:2px solid #56a8da;
	border-top-width:2px;
	font-weight:normal;
}
.lui_tabpanel_simple_navs_item_c {
	padding: 0px 10px;
	cursor:pointer;
}
.lui_tabpanel_simple_content_l {
	background-color: #FFFFFF;
}

/**====== 边线多标签 ======**/
.lui_tabpanel_border_frame {
	/*border: 2px #51b6ec solid;*/
	background-color: #FFFFFF;
}

.lui_tabpanel_border_content_over {
	/*background-color: #F9F9F9;*/
}

.lui_tabpanel_border_space, .lui_tabpanel_border_space_first {
	padding:0px 3px;
}
.lui_tabpanel_border_title_c {
	font-size: 14px;
	font-weight: bold;
	padding:5px;
	border-bottom:1px #F0F0F0 solid;
	margin:3px 3px 0px 3px;
}

/*@--垂直多标签--*/
.lui_tabpanel_vertical_frame{
	background-color: #FFFFFF;
	position: relative;
}
.lui_tabpanel_vertical_navs_l,
.lui_tabpanel_vertical_navs_r,
.lui_tabpanel_vertical_navs_c{
	height: 100%;
}
.lui_tabpanel_vertical_navs_l{
	position:absolute;
    width: 140px;
}
.lui_tabpanel_vertical_navs_item_c{
    background-color: #f3f3f3;
    position: relative;
    background-image: url(/sys/ui/extend/theme/default/images/panel/tabpanel_vertical_bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
    cursor: pointer;
}
.lui_tabpanel_vertical_navs_item_r,
.lui_tabpanel_vertical_navs_item_c{
	height: 100%;
}
.lui_tabpanel_vertical_content_l{
	overflow: scroll;
}
.lui_tabpanel_vertical_content_c{
	margin-left: 140px;
    background: #fff;
}
.lui_tabpanel_vertical_navs_item_l{
	position: relative;
}
.lui_tabpanel_vertical_content_c [data-lui-type='lui/panel!Content']{
	padding: 15px;
}
.lui_tabpanel_vertical_navs_item_selected .lui_tabpanel_vertical_navs_item_c{
	background-color: 	#4fbdff;
}
.lui_tabpanel_vertical_navs_item_c .lui_tabpanel_navs_item_title{
	color: #354052;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.lui_tabpanel_vertical_navs_item_c .com_prompt{
	position: absolute;
    right: 15px;
    top: 5px;
    font-size: 14px;
    color: #354052;
}
.lui_tabpanel_vertical_navs_item_c .com_prompt_num{
	font-size: 36px;
    height: inherit;
    line-height: inherit;
    color: #15a4fa;
    padding: 0;
    background-color: inherit;
    border-radius: 0;
}
.lui_tabpanel_vertical_navs_item_refresh{
	display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 15px;
    left: 60px;
    background-image : url(/sys/ui/extend/theme/default/images/panel/tabpanel_vertical_refresh.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.lui_tabpanel_vertical_navs_item_selected .lui_tabpanel_vertical_navs_item_refresh{
	background-image : url(/sys/ui/extend/theme/default/images/panel/tabpanel_vertical_refresh_selected.png);
}
.lui_tabpanel_vertical_navs_item_selected:after{
	display: block;
    content: "";
    position: absolute;
    left: 140px;
    top: 50%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-left-color: #4fbdff;
    margin-top: -14px;
}
.lui_tabpanel_vertical_navs_item_selected .com_prompt_num{
	color: #fff;
    border-bottom: 2px solid #fff;
}
/*@--分类导航--*/
.lui_accordionpanel_slide_frame 
{
    background-color:#f3f3f3; height:100%;
}
.lui_accordionpanel_slide_header_c {
	height: 34px;
	line-height: 34px;
	color: #484848;
	background-color: #f3f3f3
}

.lui_accordionpanel_slide_nav_c{
}

.lui_accordionpanel_slide_nav_text {
	font-size: 13px;
	position: relative;
	display: block;
}
.lui_accordionpanel_slide_nav_text a{ 
	color:#1b84d5;
	left: 30px;
	right: 0;
	position: absolute;
	width: 70%;
	display:block;
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.lui_accordionpanel_slide_nav_text a:hover{ color:#1b84d5;}
.lui_accordionpanel_slide_text_down a{ color:#666;}
.lui_accordionpanel_slide_toggle_up {
	float: left;
	cursor: pointer;
	background: url(/sys/ui/extend/theme/default/images/panel/toggle_slideup.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 30px;
	height: 30px;
} 
.lui_accordionpanel_slide_toggle_down {
	float: left;
	cursor: pointer;
	background: url(/sys/ui/extend/theme/default/images/panel/toggle_slidedown.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}
.lui_accordionpanel_slide_content_frame{ border-bottom:1px solid #fff }
.lui_accordionpanel_slide_content_c {
	background-color: #FFFFFF;
	width: 100%;
}

.lui_nonepanel_transparent {
}
.lui_nonepanel_color {
	background-color: #FFFFFF;
}
/* 三级页面 可折叠标签 */
.lui_form_sidebar .lui_accordionpanel_content_frame{ margin-bottom:15px;}
.lui_form_sidebar .lui_accordionpanel_frame{ background-color:transparent;}

.lui_panel_ext_padding {
	padding: 0px;
}

/*************当前主题***************/
@-webkit-keyframes refresh-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes refresh-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.refresh-rotate {
  -webkit-animation-name: refresh-rotate;
          animation-name: refresh-rotate;
}
.lui_tabpanel_vertical_navs_item_refresh {
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 17px;
	left: 60px;
	background: url(../images/panel/tabpanel_vertical_refresh.png) no-repeat 50%;
	cursor: pointer;
}
.lui_tabpanel_vertical_navs_item_selected .lui_tabpanel_vertical_navs_item_refresh {
    background-image: url(../images/panel/tabpanel_vertical_refresh_selected.png);
}
.lui_tabpanel_vertical_navs_item_selected .lui_tabpanel_vertical_navs_item_refresh:hover{
	-webkit-animation: refresh-rotate .8s linear 0s infinite;
		 -moz-animation: refresh-rotate .8s linear 0s infinite;
	  	 -o-animation: refresh-rotate .8s linear 0s infinite;
	  	-ms-animation: refresh-rotate .8s linear 0s infinite;
	  	    animation: refresh-rotate .8s linear 0s infinite;
	-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
}

[data-lui-type='lui/panel!Content'] {
    padding: 10px 14px;
}
/** accordion panel */
.lui_accordionpanel_frame {
	background-color:#fff; 
	height:100%;
}
.lui_accordionpanel_frame .lui_accordionpanel_content_frame{
	border-bottom: 1px solid #293343;
	background-color: #354052;
}
.lui_accordionpanel_frame .lui_accordionpanel_content_frame:last-child .lui_accordionpanel_content_l{
	border-bottom: 0;
}

.lui_accordionpanel_header_l,
.lui_accordionpanel_content_c{
	background-color: transparent;
	cursor:default;
}
.lui_accordionpanel_header_l{
	position: relative;
	z-index: 1;
}
.lui_accordionpanel_header_l:hover{
	background-color: #252f40;
}
.lui_accordionpanel_header_c {
	height: auto;
	line-height: auto;
	transition: all 0.2s ease-in-out;
	overflow:hidden;
	border: 0;
}
.lui_accordionpanel_header_c:hover{
	background-color: #252f40;
}

.lui_accordionpanel_header_l{
	border-bottom: 1px solid #293343;
}
.lui_accordionpanel_slide_content_l,
.lui_accordionpanel_content_l{
	margin-top: -1px;
	background-color: #465062;
}
.lui_accordionpanel_nav_c{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 0;
	/*border-bottom: 1px solid #293343;*/
	position: relative;
}
.lui_accordionpanel_nav_c .lui_accordionpanel_nav_text{
	padding-left: 15px;
	font-size: 16px;
	font-weight: normal;
	color: #a0acbf;
	width: 80%;
	height: auto;
	line-height: 20px;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	background: inherit;
}
.lui_accordionpanel_nav_c .lui_accordionpanel_toggle_down,
.lui_accordionpanel_nav_c .lui_accordionpanel_toggle_up{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -8px;
	float: right;
	cursor: pointer;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	transition: all 0.3s ease-in-out;
}
.lui_accordionpanel_nav_c .lui_accordionpanel_toggle_up{
   	background-image: url(../images/panel/toggle4.png);
}
.lui_accordionpanel_nav_c .lui_accordionpanel_toggle_down{
    background-image: url(../images/panel/toggle3.png);
}
.lui_accordionpanel_content_c .lui_list_nav_list li a {
	color: #8994a6;
}
.lui_accordionpanel_content_c .lui_panel_content_inside > div{
	padding: 0;
}
.lui_accordionpanel_content_c .lui_list_nav_list li{
	padding: 0;
}
.lui_accordionpanel_content_c .lui_list_nav_list li.lui_list_nav_selected{
	background-color:#252f40;
	background-image: url(../images/panel/accordionpanel_selected.png);
	background-repeat: no-repeat;
}
.lui_accordionpanel_content_c .lui_list_nav_list li a{
	padding: 12px 15px;
	width: auto;
	line-height: 16px;
    color: #8994a6;
    font-size: 14px;
    font-weight: normal;
    border-left: 4px solid transparent;
	display: block;
}
.lui_accordionpanel_content_c .lui_list_nav_list li a:hover,
.lui_accordionpanel_content_c .lui_list_nav_list li a:active,
.lui_accordionpanel_content_c .lui_list_nav_list li a.active{
	border-left-color: #15a4fa;
	background-color: #252f40;
}
.lui_accordionpanel_content_c .lui_list_nav_list li.lui_list_nav_selected{
	background: none;
}
.lui_accordionpanel_content_c .lui_list_nav_list li.lui_list_nav_selected a,
.lui_accordionpanel_content_c .lui_list_nav_list li.lui_list_nav_selected a:hover{
	color: #fff;
	border-left-color: #15a4fa;
	background-color: #252f40;
}


/**  vertical panel */
.lui_tabpanel_vertical_frame .com_prompt_num{
	margin-right: 5px;
	line-height: 1!important;
	font-family: Arial;
	font-size: 36px;
	height: inherit;
	line-height: inherit;
	color: #15a4fa;
	padding: 0;
	background-color: inherit;
	border-radius: 0;
	position: relative;
	top: 6px;
}
.lui_tabpanel_vertical_navs_item_selected .com_prompt_num{
	color: #fff;
	border-bottom: 1px solid #fff;
	top: 0;
}
.lui_tabpanel_vertical_navs_item_selected .lui_tabpanel_vertical_navs_item_c{
	background-color: #4fbdff;
	/*background-image: url(../images/panel/tabpanel_vertical_bg_selected.png);*/
}
.lui_tabpanel_vertical_content_l {
	overflow: auto;
	overflow-y: auto;
}
/* person */
.lui_person_usertitle{
	text-align: center; 
	color:white;
	background-color: #15a4fa;
}
.lui_person_usertitle > * {
	padding-top: 15px;
}
.lui_person_userpic{
	margin: 0 auto 5px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: rgba(255,255,255,.1);
	position: relative;
}
.lui_person_usermask{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0px;
	background: rgba(0,0,0,.6);
	color: rgba(255,255,255,.7);
	line-height: 80px;
	display: none;
	border-radius: 50%;
	transition: all .2s ease-in-out;
}
.lui_person_usermask:after{
	content: '';
	width: 22px;
	height: 22px;
	background:url(../images/panel/person_usermask_edit.png);
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.lui_person_userpic > img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.lui_person_usertitle .com_author{
	color: #fff;
	font-size: 14px;
}

.lui_person_usertitle .com_author:hover{
	text-decoration: underline;
}

.lui_person_usertitle .lui_person_dept{
	text-align: center;
	padding: 0 10px 5px 10px;
	color: #aadfff;
}

.lui_person_usertitle > .clr{
	padding-top: 10px;
}


.lui_tabpanel_simple_navs_c{
	font-size: inherit;
	background-color: #fff;
	height: auto;
	color: #636363;
	line-height: 1;
	padding-left: 0;
	border-bottom: 1px solid #ebebeb;
	vertical-align: middle;
}
.lui_tabpanel_simple_navs_item_l{
	float: left;
	overflow: visible;
	margin: 0;
}
.lui_tabpanel_simple_navs_item_c{
	margin: 0 20px -1px;
	padding: 11px 15px;
	max-width: 90%;
	height: 20px;
	line-height: 20px;
	color: #636879;
	font-size: 16px;
	font-weight: normal;
	border-bottom: 3px solid transparent;
	transition: all 0.2s ease-in-out;
	position: relative;
}
.lui_tabpanel_simple_navs_item_c:hover{
	/*background-color: transparent;*/
	color: #15a4fa;
}
.lui_tabpanel_simple_navs_item_selected .lui_tabpanel_simple_navs_item_c {
	background-color: transparent;
	color: #15a4fa;
	border-top: 0;
	border-bottom: 3px solid #15a4fa;
}

.lui_panel_simple_navs_c{
	font-size: inherit;
	background-color: #fff;
	height: auto;
	color: #666664;
	line-height: 20px;
	vertical-align: middle;
	font-weight: normal;
	padding: 12px 20px;
	border-bottom: 1px solid #ebebeb;
}
.lui_panel_simple_navs_item_c{
	padding-left: 0;
	height: 20px;
	font-weight: normal;
	font-size: 14px;
	position: relative;
}
.lui_panel_simple_navs_item_c .com_prompt_more{
	top: 0px;
  right: -5px;
}
.lui_tabpanel_navs_item_title{
	font-size: 16px;
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.lui_portlet_operation {
	margin: 5px 2px 15px;
	padding: 0;
	display: inline-block;
	width: 32px;
	height: 22px;
	border: 1px solid #ebebeb;
	background-color: #fff;
	background-position: 50%;
	background-repeat: no-repeat;
	font-size: 0;
	*white-space: -1px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.lui_portlet_operation:hover{
	border-color: #15a4fa;
	background-color: #15a4fa;
}
.lui_portlet_operation.lui_portlet_operation_more{
	background-image: url(../icon/s/more_default.png);
}
.lui_portlet_operation.lui_portlet_operation_more:hover{
	background-image: url(../icon/s/more_default_fff.png);
}

.lui_portlet_operation.lui_portlet_operation_create{
	background-image: url(../icon/s/portlet_operation_create.png);
}
.lui_portlet_operation.lui_portlet_operation_create:hover{
	background-image: url(../icon/s/portlet_operation_create_fff.png);
}



.lui_tabpage_float_navs {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: auto;
	padding-top: 4px;
	z-index: 5;
	background: none;
}
.lui_tabpage_float_navs_c {
	margin: 0px auto;
	width: 90%;
	min-width: 980px;
	max-width: 1200px;
	height: 36px;
	line-height: 36px;
	margin-top: 0;
	padding: 15px 0 0;
	background-color: #fff;
}
.lui_tabpage_float_nav_item {
	display: inline-block;
	vertical-align: middle;
	height: 36px;
	border: 1px solid #c7c7c7;
	background-color: #c7c7c7;
	margin-right: 5px;
	min-width: 88px;
	color: #333;
	font-size: 14px;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
}
.lui_tabpage_float_nav_item:first-child{
	margin-left: 10px;
}
.lui_tabpage_float_nav_item:hover,
.lui_tabpage_float_nav_item.selected{
	color:#fff;
	border: 1px solid #15a4fa;
	background-color: #15a4fa;
}
.lui_tabpage_float_nav_item.selected{
	margin-top: -6px;
	border-top-width: 6px;
}
.lui_tabpage_float_nav_item.selected .lui_tabpage_float_nav_item_c{
	font-size: 16px;
}
.selected .lui_tabpage_float_nav_item_l{
	background-color: transparent;
}


.lui_tabpage_float_header_l{
	padding: 10px 0;
	border-bottom: 1px solid #d7d7d7;
}
.lui_tabpage_float_header_title {
	padding: 0 8px;
	line-height: 20px;
	border-left: 4px solid #15a4fa;
	position: relative;
}
.lui_tabpage_float_header_text {
	height: auto;
	line-height: 20px;
	color: #333;
	font-size: 16px;
	font-weight: normal;
}
.lui_tabpage_float_header_close {
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -5px;
	background: url(../images/panel/accordionpanel_close.png) no-repeat 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.lui_tabpage_float_header_close:hover{
	background-image: url(../images/panel/accordionpanel_close_hover.png)
}
.lui_tabpanel_vertical_content_c .lui_portlet_operations{
	margin-top: 5px;
	position: absolute;
	right: 10px;
	bottom: 0;
}
.lui_tabpanel_vertical_content_c [data-lui-type='lui/panel!Content']{
	padding: 0 15px 15px;
}
.lui_nonepanel_frame{
	background-color: #fff;
	position: relative;
}
.lui_nonepanel_frame [data-lui-type='lui/panel!Content'] {
	padding: 0;
}
.lui_portlet_operations{
	padding: 0px 15px;
}
.lui_nonepanel_frame .lui_portlet_operations {
	text-align: right;
	padding: 0px 20px;
	font-size: 14px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.lui_tabpage_frame .lui_paging_box{
	padding-left: 0;
	padding-right: 0;
}
.lui_tabpage_frame .eval_title,
.lui_tabpage_frame .intr_peson_opt,
.lui_tabpage_frame .intr_oper > span{
	font-weight: normal;
}
.lui_tabpage_float_header_text>div{
	font-size: 16px;
}
/*代办待阅*/
.lui_tabpanel_vertical_navs_item_l{
	max-height: 50%!important;
    height: 50%!important;
}

.lui_tabpanel_vertical_frame .lui_tabpanel_vertical_navs_item_c{ background-image:url(../images/panel/tabpanel_view_bg.png)!important; background-size:auto!important;}
.lui_tabpanel_vertical_frame .lui_tabpanel_vertical_navs_item_l:first-child .lui_tabpanel_vertical_navs_item_c{ background-image:url(../images/panel/tabpanel_todo_bg.png)!important;}
.lui_tabpanel_vertical_frame .lui_tabpanel_vertical_navs_item_selected .lui_tabpanel_vertical_navs_item_c{ background-image: url(../images/panel/tabpanel_view_cur_bg.png)!important;}
.lui_tabpanel_vertical_frame .lui_tabpanel_vertical_navs_item_l.lui_tabpanel_vertical_navs_item_selected:first-child .lui_tabpanel_vertical_navs_item_c{ background-image: url(../images/panel/tabpanel_todo_cur_bg.png)!important;}

/*系统导航*/
.lui_panel_frame .lui_panel_navs_c{ background:#fff; color:#636879; font-size: 16px; height: 50px; line-height: 50px;}
.lui_panel_frame .lui_panel_navs_l{ border-bottom:1px solid #ebebeb;}
.lui_panel_frame .lui_tabpanel_navs_item_title{color:#636879; font-weight: normal; height:50px; line-height: 50px;}
.lui_panel_frame .lui_panel_navs_item_c{ height: 50px; line-height: 50px;}

.lui_accordionpanel_slide_content_frame{
	border-bottom: 0;
}
.lui_accordionpanel_slide_header_c{
	height: auto;
    line-height: 20px;
    color: inherit;
	background-color: #354052;
}
.lui_accordionpanel_slide_content_c{
	background-color: transparent;
}
.lui_accordionpanel_slide_nav_c:after,
.lui_accordionpanel_slide_nav_c:before,
.lui_accordionpanel_slide_nav_text:after,
.lui_accordionpanel_slide_nav_text:before{
	content: '';
	display: table;
	visibility: hidden;
}
.lui_accordionpanel_slide_nav_c:after,
.lui_accordionpanel_slide_nav_text:after{
	clear: both;
}
.lui_accordionpanel_slide_nav_c{
	position: relative;
}
.lui_accordionpanel_slide_nav_text {
    font-size: 14px;
    position: relative;
    display: block;
}
.lui_accordionpanel_slide_nav_text a{
    line-height: 16px;
    padding: 12px 15px 12px 25px;
	color: #8994a6;
	border-left: 4px solid transparent;
	left: 0; 
	right: 0;
	position: static;
	width: auto; 
	display: block;
	float: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.lui_accordionpanel_slide_nav_text a:hover{
	color: #15a4fa;
	border-left-color: #15a4fa;
	background-color: #252f40;
}
.lui_accordionpanel_slide_toggle_up,
.lui_accordionpanel_slide_toggle_down{
    float: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -8px;
    z-index: 1;
}
.lui_accordionpanel_slide_toggle_up {
    background: url(../images/panel/toggle_slideup.png) no-repeat 50%;
}
.lui_accordionpanel_slide_toggle_down {
    background: url(../images/panel/toggle_slidedown.png) no-repeat 50%;
}
