@charset "utf-8";

.lui_step_tabs_1 {
	width: 100%;
}

.lui_step_tabs_1_titleM {
	height: 52px;
	width: 100%;
	line-height: 52px;
}

.lui_step_tabs_1_titleL {
	background-color: #fff;
	padding: 10px 10px 20px 10px;
}

.lui_step_tabs_1_titleM ul li {
	list-style: none;
	float: left;
	height: 52px;
	margin-right: 10px;
	cursor: default;
}

.lui_step_tabs_1_titleM ul li.fulfill .no {
	float: left;
	background: url(/sys/ui/extend/theme/default/images/step/step_tab_no_L_cur.png) no-repeat left top;
	padding-left: 4px;
	height: 52px;
	line-height: 52px;
}

.lui_step_tabs_1_titleM ul li.fulfill .no span {
	float: left;
	background: url(/sys/ui/extend/theme/default/images/step/step_tab_no_R_cur.png) no-repeat right top;
	padding-right: 14px;
	height: 52px;
	display: block;
}

.lui_step_tabs_1_titleM ul li.fulfill .no a {
	float: left;
	background: #53B6ED;
	display: block;
	text-align: center;
	width: 32px;
	height: 51px;
	line-height: 51px;
	color: #fff;
	font-size: 31px;
	border-bottom: 1px solid #212121;
}

.lui_step_tabs_1_titleM ul li.fulfill {
	background: url(/sys/ui/extend/theme/default/images/step/step_tab_R_cur.png) no-repeat right top;
	padding-right: 4px;
	cursor: pointer;
}

.lui_step_tabs_1_titleM ul li.fulfill .title {
	background: #53B6ED;
	border-bottom: 1px solid #212121;
	color: #fff;
}

.lui_step_tabs_1_titleM ul li.current .no {
	float: left;
	background: url(/sys/ui/extend/theme/default/images/step/step_tab_no_L_cur.png) no-repeat left top;
	padding-left: 4px;
	height: 52px;
	line-height: 52px;
}

.lui_step_tabs_1_titleM ul li.current .no span {
	float: left;
	background: url(/sys/ui/extend/theme/default/images/step/step_tab_no_R_cur.png) no-repeat right top;
	padding-right: 14px;
	height: 52px;
	display: block;
}

.lui_step_tabs_1_titleM ul li.current .no a {
	float: left;
	background: #53B6ED;
	display: block;
	text-align: center;
	width: 32px;
	height: 51px;
	line-height: 51px;
	color: #fff;
	font-size: 31px;
	border-bottom: 1px solid #212121;
}

.lui_step_tabs_1_titleM ul li.current {
	background: url(/sys/ui/extend/theme/default/images/step/step_tab_R_cur.png) no-repeat right top;
	padding-right: 4px;
	cursor: default;
}

.lui_step_tabs_1_titleM ul li.current .title {
	background: #53B6ED;
	border-bottom: 1px solid #212121;
	color: #fff;
}

.lui_step_tabs_1_titleM ul li .no {
	float: left;
	background: url(/sys/ui/extend/theme/default/images/step/step_tab_no_L_nor.png) no-repeat left top;
	padding-left: 4px;
	height: 52px;
	line-height: 52px;
}

.lui_step_tabs_1_titleM ul li .no span {
	float: left;
	background: url(/sys/ui/extend/theme/default/images/step/step_tab_no_R_nor.png) no-repeat right
		top;
	padding-right: 14px;
	height: 52px;
	display: block;
}

.lui_step_tabs_1_titleM ul li .no a {
	float: left;
	background: #9d9d9d;
	display: block;
	text-align: center;
	width: 32px;
	height: 51px;
	line-height: 51px;
	color: #fff;
	font-size: 31px;
	border-bottom: 1px solid #212121;
}

.lui_step_tabs_1_titleM ul li {
	background: url(/sys/ui/extend/theme/default/images/step/step_tab_R_nor.png) no-repeat right top;
	padding-right: 4px;
}

.lui_step_tabs_1_titleM ul li .title {
	background: #9d9d9d;
	border-bottom: 1px solid #212121;
	height: 51px;
	line-height: 51px;
	padding-left: 64px;
	font-size: 14px;
	color: #fff;
	padding-right: 6px;
}

.lui_step_sheet_content {
	background: white;
	padding:12px;
}

/* 步骤 */
.lui_step_buttons_wrapper {
	width: 100%;
	height: 89px;
	background: #fff;
	/*margin-top: 46px;*/
}

.lui_step_buttons_wrapperL {
	border-top: 1px dotted #909090;
	margin: 0px auto;
}

.lui_step_buttons_btnList {
	position: relative;
	top: 28px;
	left: 40%;
	width: 300px;
}

.lui_step_buttons_wrapper .btn_step_cur.btn_step_nor {
	background: #bcbcbc;
	border: 1px solid #9d9d9d;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	width: 88px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin-right: 14px;
}

.lui_step_buttons_wrapper .btn_step_cur {
	background: #47b5e6;
	border: 1px solid #35a1d0;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	width: 88px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin-right: 14px;
}

/*************当前主题***************/
@charset "utf-8";

