@charset "utf-8";
/*///////////////////////////////////////////////*/
/*************通用按钮样式***************/
.lui_widget_btn{
	cursor: pointer;
}
.lui_widget_btn_disabled,
.lui_widget_btn_disabled .lui_widget_btn{
	cursor: default;
}
.lui_widget_btn .lui_icon_s{
	background-position:center center;
	display: inline-block !important;
	vertical-align:top;
}
.lui_widget_btn .lui_widget_btn_txt{
	display: inline-block !important;
	white-space:nowrap;
	vertical-align: top;
	font-weight: normal;
}
.lui_widget_btn .lui_widget_btn_icon{
	padding:3px;
	display: inline-block;
}
/*******************button默认样式******************************/
.lui_toolbar_btn_def{
	display: inline-block;
}
.lui_toolbar_btn_def .lui_widget_btn_icon{
	padding:3px;
}
.lui_toolbar_btn_def .lui_widget_btn{
	padding:6px 4px;
}
.lui_toolbar_btn_def .lui_toolbar_btn_l{
	FONT-SIZE: 14px;
	height:25px;
	LINE-HEIGHT: 25px; 
	COLOR: #fff; 
	TEXT-ALIGN: center; 
	DISPLAY: block;
	border:1px solid #35a1d0;
	BACKGROUND-COLOR: #47b5e6;
}
.lui_toolbar_btn_def.lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	BACKGROUND-COLOR: #ccc;
}

.lui_toolbar_btn_def.lui_icon_on .lui_toolbar_btn_l{
	BACKGROUND-COLOR: #2f9adb;
}

.lui_toolbar_btn_def .lui_widget_btn_txt{
 	padding:0px 10px;
}

.lui_toolbar_btn_def.lui_toolbar_btn_cancel .lui_toolbar_btn_l{
	border:1px solid #30ade3;
	BACKGROUND-COLOR: #ffffff;
	COLOR: #30abe4; 
	font-weight:normal;
}
/********************灰色按钮***************************/
.lui_toolbar_btn_gray{
	display: inline-block;
}
.lui_toolbar_btn_gray .lui_widget_btn_icon{
	padding:3px;
}
.lui_toolbar_btn_gray .lui_widget_btn{
	padding:6px 4px;
}
.lui_toolbar_btn_gray .lui_toolbar_btn_l{
	FONT-SIZE: 14px;
	font-weight:bold;
	height:25px;
	LINE-HEIGHT: 25px; 
	COLOR: #47b5e6; 
	TEXT-ALIGN: center; 
	DISPLAY: block;
	BORDER:1px #bbbbbb solid;
	BACKGROUND-COLOR: #fafafa;
}
.lui_toolbar_btn_gray.lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	BACKGROUND-COLOR: #ccc;
}
.lui_toolbar_btn_gray.lui_icon_on .lui_toolbar_btn_l{
	COLOR: #2f9adb;
}
.lui_toolbar_btn_gray .lui_widget_btn_txt{
 	padding:0px 10px;
}
/*************toolbar 横向工具栏***************/
.lui_toolbar_frame .lui_widget_btn{
	padding:6px 4px;
}
.lui_toolbar_frame .lui_toolbar_btn_l{
	BORDER:1px #bbbbbb solid;
	HEIGHT: 22px; 
	LINE-HEIGHT: 22px;
	BACKGROUND-COLOR: #fff;
}
.lui_toolbar_frame .lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	BACKGROUND-COLOR: #ccc;
}
.lui_toolbar_frame .lui_toolbar_btn .lui_widget_btn_txt{
	padding:0px 10px;
	COLOR: #666;
}
.lui_toolbar_frame .lui_toolbar_btn_on .lui_toolbar_btn_l,
.lui_toolbar_frame .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l{
	BORDER:1px #30ade3 solid;
	COLOR: #30abe4; 
	background-color:#fff;
}
.lui_toolbar_frame .lui_toolbar_btn_on .lui_toolbar_btn_l .lui_widget_btn_txt,
.lui_toolbar_frame .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l .lui_widget_btn_txt{ color:#30abe4;}
.lui_toolbar_frame .lui_widget_btn_swh,
.lui_toolbar_popup{
	BACKGROUND: #FFFFFF;
}

/*************toolbar 纵向工具栏***************/
.lui_toolbar_frame_ver .lui_widget_btn{
	padding:4px 10px;
	display: block;
}
.lui_toolbar_frame_ver .lui_widget_btn .lui_widget_btn{
	
}
.lui_toolbar_frame_ver .lui_toolbar_btn_l{
	BORDER:1px #bbbbbb solid;
	HEIGHT: 22px; 
	LINE-HEIGHT: 22px;
	overflow: hidden;
	BACKGROUND-COLOR: #fff;
}
.lui_toolbar_frame_ver .lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	BACKGROUND-COLOR: #ccc;
}
.lui_toolbar_frame_ver .lui_toolbar_btn .lui_widget_btn_txt{
	padding:0px 10px;
	COLOR: #666;
}
.lui_toolbar_frame_ver .lui_toolbar_btn_on .lui_toolbar_btn_l,
.lui_toolbar_frame_ver .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l{
	BORDER:1px solid #30ade3;
	COLOR: #30abe4; 
}
.lui_toolbar_frame_ver .lui_toolbar_btn_on .lui_toolbar_btn_l .lui_widget_btn_txt,
.lui_toolbar_frame_ver .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l .lui_widget_btn_txt{
	COLOR: #30abe4; 
}
.lui_toolbar_frame_ver .lui_widget_btn_ver_swh,
.lui_toolbar_popup_ver{
	background-color: #FFFFFF;
}
/*************toolbar 文档悬浮工具栏***************/
.lui_toolbar_frame_float{
	HEIGHT: 42px; 
	BACKGROUND: url(/sys/ui/extend/theme/default/images/toolbar/top_bar_bg.png) repeat-x; 
	BORDER-BOTTOM: #ececec 1px solid; 
	POSITION: fixed;  
	Z-INDEX: 5; 
	LEFT: 0px;
	TOP: 0px; 
	WIDTH: 100%;
}
.lui_toolbar_frame_float_mark {
	HEIGHT: 42px; 
	POSITION: fixed;  
	Z-INDEX: 4; 
	LEFT: 0px;
	TOP: 0px; 
	WIDTH: 100%;
}
.lui_toolbar_frame_float .lui_widget_btn{
	padding:6px 4px;
}

.lui_toolbar_frame_float .lui_toolbar_btn_l{
	FONT-SIZE: 14px;
	height:25px;
	LINE-HEIGHT: 25px; 
	COLOR: #fff; 
	TEXT-ALIGN: center; 
	DISPLAY: block;
	border:1px solid #35a1d0;
	BACKGROUND-COLOR: #47b5e6;
}
.lui_toolbar_frame_float .lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	BACKGROUND-COLOR: #ccc;
}
.lui_toolbar_frame_float .lui_toolbar_btn .lui_widget_btn_txt{
	padding:0px 10px; min-width:50px;
}

.lui_toolbar_frame_float .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l,
.lui_toolbar_frame_float .lui_toolbar_btn_on .lui_toolbar_btn_l{
	BACKGROUND-COLOR: #2f9adb;
}

.lui_toolbar_frame_float .lui_toolbar_content{
	width:90%; margin:0px auto; position:relative
}
.lui_toolbar_frame_float .lui_toolbar_content>table{ position:absolute;  top:0px; right:0px;}
.lui_toolbar_frame_float .lui_widget_btn_float_swh,
.lui_toolbar_popup_float{
	BACKGROUND: #FFFFFF;
}

/*************toolbar 悬浮竖向展示***************/
.lui_toolbar_frame_ver_float .lui_widget_btn{
	padding:4px 10px;
}
.lui_toolbar_frame_ver_float .lui_toolbar_btn_l{
	FONT-SIZE: 14px;
	height:25px;
	LINE-HEIGHT: 25px; 
	COLOR: #fff; 
	TEXT-ALIGN: center; 
	DISPLAY: block;
	border:1px solid #35a1d0;
	BACKGROUND-COLOR: #47b5e6;
}
.lui_toolbar_frame_ver_float .lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	BACKGROUND-COLOR: #ccc;
}
.lui_toolbar_frame_ver_float .lui_toolbar_btn .lui_widget_btn_txt{
	padding:0px 10px; min-width:50px;
}
.lui_toolbar_frame_ver_float .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l,
.lui_toolbar_frame_ver_float .lui_toolbar_btn_on .lui_toolbar_btn_l{
	BACKGROUND-COLOR: #2f9adb;
}
.lui_toolbar_frame_ver_float .lui_widget_btn_ver_swh{
	BACKGROUND: #FFFFFF;
}

/*************toolbar 列表排序展示***************/
.lui_toolbar_frame_sort .lui_widget_btn{
	padding:6px 0px;
}
.lui_toolbar_frame_sort .lui_toolbar_btn_l{
	HEIGHT: 22px; 
	LINE-HEIGHT: 22px;
	overflow: hidden;
	BACKGROUND-COLOR: inherit;
}
.lui_toolbar_frame_sort .lui_widget_btn_txt{
 	padding:0px 0px 0px 5px;
}
.lui_toolbar_frame_sort .lui_widget_btn .lui_icon_o{
	padding: 3px 0px;
	height: 16px;
	float: right;
}
.lui_toolbar_frame_sort .lui_icon_s{
	float: right;
}
.lui_toolbar_frame_sort .lui_widget_btn_swh,
.lui_toolbar_popup_sort{
	BACKGROUND: #FFFFFF;
}
/**********************toolbar 列表排序纵向展示*******************************/
.lui_toolbar_frame_ver_sort .lui_widget_btn{
	padding:4px 6px;
}
.lui_toolbar_frame_ver_sort .lui_toolbar_btn_l{
	HEIGHT: 22px; 
	LINE-HEIGHT: 22px;
	COLOR: #909090; 
	BACKGROUND-COLOR: inherit;
}
.lui_toolbar_frame_ver_sort .lui_widget_btn_txt{
 	padding:0px 0px 0px 10px;
}
.lui_toolbar_frame_ver_sort .lui_widget_btn .lui_icon_o{
	padding: 3px;
	height: 16px;
	float: right;
}
.lui_toolbar_frame_ver_sort .lui_icon_s{
	float: right;
}
.lui_toolbar_frame_ver_sort .lui_widget_btn_swh,
.lui_toolbar_frame_ver_sort{
	BACKGROUND: #FFFFFF;
}

/*togglegroup 下拉展示*/
.lui_toolbar_toggleGroup_btn > .lui_widget_btn{
	padding: 0px 4px;
	margin: 0px;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn{
	overflow: hidden;
	vertical-align: middle;
}
.lui_toolbar_btn_frame_togglegroup .lui_widget_btn{
	background-color:#ffffff;
	padding:0 16px 0 0;
	BORDER:1px #bbbbbb solid;
}

.lui_toolbar_btn_def.lui_toolbar_btn_frame_togglegroup .lui_widget_btn{
	background-color:#35a1d0;
}

.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn .lui_widget_btn_txt{
	padding:0 0 0 10px;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn .lui_widget_btn_icon{
	padding:0px 3px;
	vertical-align: middle;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn .lui_widget_btn_icon>div{
	margin: 2px 0px;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_on .lui_toolbar_btn_l,
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l{
	border: none;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_l{
	BORDER:none;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_on .lui_toolbar_btn_l{
	BORDER:none;
}

.lui_toolbar_togglegroup_tab{
	margin: 0px auto;
	position: relative;
}

.lui_toolbar_togglegroup_tab .lui_toolbar_btn_selectTitle{
	position: relative;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn{ margin-top:-1px;}

.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_selectBox{
	z-index:50;
}

.lui_toolbar_btn_frame_togglegroup .lui_toolbar_togglegroup_tab .lui_widget_btn{
	display: block;
}

.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_selectTitle .lui_widget_btn{
	background: "../images/toolbar/button_select.png" center right no-repeat;
}
.lui_toolbar_btn_frame_togglegroup .lui_widget_btn .lui_widget_btn_icon{
	margin-right: -10px;
}

/*************当前主题***************/

.lui_toolbar_frame .lui_widget_btn{
	padding: 6px 3px;
}
.lui_toolbar_frame .lui_widget_btn .lui_icon_s_more_default{
	padding-left: 6px;
	padding-right: 6px;
	top: 0;
} 
.lui_toolbar_frame .lui_widget_btn.lui_widget_btn_swh

.lui_toolbar_frame .lui_toolbar_btn_l {
	border: 1px solid #ebebeb;
	height: 24px;
	line-height: 24px;
	background-color: #fff;
	transition: all 0.2s ease-in-out;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_l{
	border: 1px solid #ebebeb;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn .lui_widget_btn_icon>div{
	margin: 1px 0;
}
.lui_toolbar_frame_ver .lui_toolbar_btn_l{
	border: 1px solid #ebebeb;
	height: 28px;
	line-height: 28px;
	background-color: #fff;
	transition: all 0.2s ease-in-out;
}
.lui_toolbar_frame .lui_toolbar_btn_on .lui_toolbar_btn_l,
.lui_toolbar_frame .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l,
.lui_toolbar_frame .lui_widget_btn.lui_widget_btn_swh .lui_toolbar_btn_l{
	border:1px solid #15a4fa;
	color: #15a4fa; 
	background-color:#fff;
}
.lui_toolbar_frame .lui_widget_btn.lui_widget_btn_swh .lui_icon_s_more_default{
  background-image: url(../icon/s-on/more_default.png);
}


.lui_toolbar_frame .lui_toolbar_btn_on .lui_toolbar_btn_l .lui_widget_btn_txt,
.lui_toolbar_frame .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l .lui_widget_btn_txt{ color:#15a4fa;}
.lui_toolbar_btn_frame_togglegroup .lui_widget_btn{
	border: 0;
	-ms-margin-top: 1px;
	padding: 1px 0;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn .lui_toolbar_btn_l{
	padding: 0 5px;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn .lui_widget_btn_icon{
	padding: 0px 2px;
	vertical-align: middle;
	position: relative;
	top: 1px;
}

.lui_toolbar_btn_frame_togglegroup .lui_widget_btn_txt{
	position: relative;
}
.lui_toolbar_btn_selectBox .lui_widget_btn_txt,
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn.lui_toolbar_btn_toggle_on .lui_widget_btn_txt{
	padding-right: 13px;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn.lui_toolbar_btn_toggle_on .lui_widget_btn_txt:after{
	content: '';
	width: 10px;
	height: 10px;
	background: url(../images/portal/toolbar_btn_toggle_on_arrow.png) no-repeat 50%;
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -5px;
}
.lui_toolbar_btn_selectBox{
	box-shadow: 0 0 7px rgba(0,0,0,.15)
}
.lui_toolbar_btn_selectBox .lui_toolbar_btn_l:hover .lui_widget_btn_txt:after{
	content: '';
	width: 10px;
	height: 10px;
	background: url(../images/portal/toolbar_btn_toggle_on_select.png) no-repeat 50%;
	display: block;
	position: absolute;
	right: -13px;
	top: 50%;
	margin-top: -5px;
}


.lui_toolbar_frame_float{
	height: 42px;
	background: transparent;
	border-bottom: 0;
	/*border-bottom: 1px solid #d7d7d7;*/
	position: fixed; 
	z-index: 6;
}
.lui_toolbar_frame_float .lui_toolbar_content {
    width: 90%!important;
    max-width: 1200px;
    min-width: 980px;
    height: 42px;
    margin: 0px auto;
	border-bottom: 1px solid #d7d7d7;
	background-color: #fff;
    position: relative;
}
.lui_toolbar_frame_float .lui_toolbar_content:after,
.lui_toolbar_frame_float .lui_toolbar_content:before{
	content: '';
	display: table;
	visibility: hidden;
}
.lui_toolbar_frame_float .lui_toolbar_content:after{
	clear: both;
}
.lui_toolbar_frame_float .lui_toolbar_btn_l{
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	text-align: center;
	display: block;
	border: 1px solid #15a4fa;
	background-color: #15a4fa;
	transition: all .2s ease-in-out;
}
.lui_toolbar_frame_float .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l,
.lui_toolbar_frame_float .lui_toolbar_btn_on .lui_toolbar_btn_l,
.lui_toolbar_frame_float .lui_widget_btn_float_swh .lui_toolbar_btn_l{
	border-color: #008de2;
	background-color: #008de2;
}
.lui_toolbar_frame_float .lui_toolbar_btn .lui_widget_btn_txt {
    padding: 0px 5px;
    min-width: 50px;
}

.lui_widget_btn .lui_widget_btn_icon{
	padding: 3px 0;
	display: inline-block;
}
.lui_widget_btn .lui_icon_s{
	background-position: center center;
	display: inline-block !important;
	vertical-align: top;
	position: relative;
	top: 1px;
}


.lui_toolbar_frame_ver_float .lui_toolbar_btn_l {
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	text-align: center;
	display: block;
	border: 1px solid #15a4fa;
	background-color: #15a4fa;
	transition: all .2s ease-in-out;
}
.lui_toolbar_frame_ver_float .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l,
.lui_toolbar_frame_ver_float .lui_toolbar_btn_on .lui_toolbar_btn_l{
	border-color: #008de2;
	background-color: #008de2;
}
.lui_toolbar_frame_float .lui_widget_btn .lui_icon_s_more_float{
	position: relative;
}
.lui_toolbar_frame_float .lui_widget_btn .lui_icon_s_more_float:after{
	content: '';
	width: 8px;
	height: 4px;
	background: url(../images/toolbar/toolbar_frame_float_more_arrow.png) no-repeat 50%;
	display: block;
	position: absolute;
	right: 3px;
	top: 50%;
	margin-top: -2px;
}
.lui_toolbar_frame_sort .lui_widget_btn_txt{
	padding: 0;
}
.lui_toolbar_frame_float [data-lui-switch-class='lui_widget_btn_float_swh']{
	padding: 0;
}
.lui_toolbar_frame_float [data-lui-switch-class='lui_widget_btn_float_swh'] .lui_toolbar_btn_l{
	height: 41px;
	line-height: 25px;
}
.lui_toolbar_frame_float [data-lui-switch-class='lui_widget_btn_float_swh'] .lui_icon_s_more_float{
	top: 0;
	margin: 10px 6px 0 0;
	padding-right: 30px;
}


.lui_toolbar_btn_def .lui_toolbar_btn_l {
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	text-align: center;
	display: block;
	border: 1px solid #15a4fa;
	background-color: #15a4fa;
}
.lui_toolbar_btn_def.lui_icon_on .lui_toolbar_btn_l{
	border-color: #008de2;
	background-color: #008de2;
}

.lui_toolbar_btn_gray .lui_toolbar_btn_l{
	font-size: 14px;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	color: #999;
	text-align: center;
	display: block;
	border: 1px solid #ccc;
	transition: all .3s ease-in-out;
}
.lui_toolbar_btn_gray.lui_icon_on .lui_toolbar_btn_l{
	color: #333;
}
